.mainscholar{
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/874/322/small/islamic-background-ramadan-kareem-mosque-silhouette-design-illustration-ramadan-kareem-design-similar-for-greetings-invitations-templates-banners-websites-or-background-vector.jpg");

}
.cccontainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: space-between;
}

@media only screen and (max-width: 1195px) {
     
  .cccontainer {
  
    grid-template-columns: repeat(3, 1fr);
  }
  }
@media only screen and (max-width: 994px) {
   
.cccontainer {

  grid-template-columns: repeat(2, 1fr);
}
}
@media only screen and (max-width: 765px) {
   
.cccontainer {

  grid-template-columns: repeat(2, 1fr);
}


}
.cartpic11{
  width: 100%;
  border-radius: 50%;

}
.infoc{
  text-align: center;
font-size: 16px;

}
.test1{

  
}