.brandll {
  border-radius: 0px 70px 10px 85px;
}
.title1111 {
  position: absolute;
  background-color: rgb(63, 8, 8);
  color: white;
  font-weight: bold; 
  margin-left: 8%;
  border-radius: 10px 0px 100px 10px;
 
}
