
.infoclassp1{
    width: 70%;
    border-radius: 50%;
    
}
.infocc{
    font-size: 2.5vh;
}
.reqschedule{
  text-decoration: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
}
  